<template>
    <div class="character-list">
        <h2>Played characters</h2>

        <div class="list-container">
            <ul v-for="player in players">
                <span class="name">{{ player.name }}</span>
                <li v-for="character in playedBy(player)">
                    {{ character.name }}
                    <i @click="removePlayedCharacter(character)" class="fas fa-undo-alt"></i>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'character-list',

        props: {
            players: {
                type: Array,
                default: null
            },
        },

        computed: {
            playedCharacters() {
                return this.$store.state.playedCharacters;
            },
        },

        data() {
            return {}
        },

        methods: {
            playedBy(player) {
                return this.playedCharacters.filter(played => played.pivot.player_id == player.id);
            },

            removePlayedCharacter(character) {
                this.$store.dispatch("removePlayedCharacter", character);
            },
        },
    }
</script>

<style lang="scss" scoped>
    .character-list {
        padding-top: 50px;
        padding-bottom: 50px;

        .list-container {
            display: flex;
            justify-content: space-between;

            ul {
                width: 45%;
                padding-left: 0px;
                list-style: none;

                span.name {
                    display: block;
                    padding-bottom: 20px;
                    font-size: 22px;
                    font-weight: bold;
                }

                li {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
</style>
