<template>
	<div class="character-select">
		<ul class="characters">
			<li v-for="character in characters"
				:key="character.id"
				@click="selectCharacter(character)"
				class="character"
			>
				<div class="image" :style="{'background-image': 'url(' + require(`@/assets/img/${character.image}`) + ')'}"></div>
				<span>{{ character.name }}</span>
				<div class="overlay" :style="selectionColor(character)"></div>
			</li>
		</ul>

		<character-list :players="tournament.players"></character-list>
	</div>
</template>

<script>
import axios from 'axios';
import CharacterList from './CharacterList';

export default {
    name: 'character-select',

    props: {
		tournament: {
			type: Object,
			default: null
		},
		players: {
			type: Array,
			default: null
		},
		colors: {
			type: Array,
			default: null
		}
    },

	components: {
    	CharacterList
	},

	created() {
    	this.$store.dispatch('fetchCharacters', this.tournament.id);
    	this.$store.dispatch('fetchPlayedCharacters', this.tournament.id);
	},

    data () {
        return {
			selections: []
        }
    },

	computed: {
		characters() {
			return this.$store.state.characters;
		}
	},

    methods: {
		selectCharacter(character) {
			if (this.isSelected(character)) {
				return this.deselectCharacter(character);
			}

			if (this.selections.length >= this.players.length) {
				return;
			}

			let player = this.currentPlayer();

			this.selections.push({
				player_id: player.id,
				character_id: character.id
			})
		},

		imagePath(character) {
			return `../assets/img/${character.image}`;
		},

		currentPlayer() {
			// Get current player based on how many characters have been selected
            if (this.selections.length === 0) {
            	return this.players[0];
			}

            return this.players[this.selections.length];
		},

		deselectCharacter(character) {
			let index = this.selections.findIndex(selection => selection.character_id === character.id);
            this.selections.splice(index, 1);
		},

		isSelected(character) {
			let index = this.selections.findIndex(selection => selection.character_id === character.id);

			return (index !== -1);
		},

		selectionColor(character) {
			let color = this.determineColor(character);


			if (this.isSelected(character)) {
                return color;
			}
		},

		determineColor(character) {
		    let selected = this.selections.find(selection => selection.character_id === character.id);

		    if (!selected) {return;}

		    let index = this.players.findIndex(player => player.id === selected.player_id);
			let color = this.colors[index] || '';
			console.log(index);

			return `background-color: ${color}`;
		},
    },
}
</script>

<style lang="scss" scoped>
.character-select {
	width: 80%;
	max-width: 1200px;
	margin-left: 50%;
	transform: translateX(-50%);

	.characters {
		list-style-type: none;
		padding: 0px;
		display: flex;
		flex-wrap: wrap;

		.character {
			width: 140px;
			height: 140px;
			margin: 10px;
			border-radius: 15px;
			background: #fff;
			border: 1px solid #707070;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
			display: flex;
			position: relative;
			flex-direction: column;
			overflow: hidden;

			span {
				color: dimgrey;
				margin-top: 4px;
			}

			.image {
                height: 100px;
				width: 67%;
				margin-left: 50%;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				transform: translateX(-50%);
				margin-top: 10px;
			}

			.overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				opacity: 0.6;
			}
		}

		.selected {
			background: red;
		}
	}
}
</style>
