<template>
	<div class="tournament-top-bar">
       hello
	</div>
</template>

<script>
export default {
    name: 'tournament-top-bar',

    props: {

    },

    data () {
    return {

    }
    },

    methods: {

    },
}
</script>

<style lang="scss" scoped>
.tournament-top-bar {

}
</style>