<template>
    <div id="app">
        <div id="nav">
        </div>
        <router-view/>
    </div>
</template>

<style lang="scss">
    #app {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
</style>

<style lang="scss">
    body {
        background-color: #2F3B53;
        margin: 0px;
    }

    body * {
        color: white;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    .outlined-button {
        padding: 10px 18px;
        border-radius: 5px;
        background: none;
        border: 2px solid;
        font-size: 16px;
        height: 48px;

        &:hover {
            background: white;
            color: #2F3B53;
        }
    }

    .outlined-cyan {
        border-color: #1EFBC5;
        color: #1EFBC5;

        &:hover {
            background: #1EFBC5;
            color: #2b2b2b;
        }
    }

    .space-between-items {
        display: flex;
        justify-content: space-between;
    }

    .align-center {
        align-self: center;
    }
</style>
