<template>
    <div class="tournament-index">
        <div class="header space-between-items">
            <h1>Turniere</h1>
            <button class="outlined-button outlined-cyan align-center">New Tournament</button>
        </div>

        <ul>
            <li v-for="tournament in tournaments" :key="tournament.id" class="tournament">
                <div class="thumbnail" :style="{'background-image': 'url(' + require('../assets/img/smash.jpg') + ')'}"></div>

                <div class="tournament-info">
                    <a :href="/tournaments/ + tournament.id"><h3>{{tournament.name}}</h3></a>
                    <h6>{{tournament.game.name}}</h6>

                    <p class="started">Started {{ tournament.started_on }}</p>
                </div>


                <div class="player-info">
                    <h5>Players</h5>
                    <ul class="players">
                        <li v-for="player in tournament.players" class="player">
                            <div class="name">
                                {{player.name}}
                            </div>
                            <div class="score">
                                {{player.score}}
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'tournament-index',

        props: {},

        created() {
            axios.get(`/api/tournaments`).then(({data}) => this.tournaments = data);
        },

        data() {
            return {
                tournaments: [],
                publicPath: process.env.BASE_URL
            }
        },

        methods: {},

        filters: {
            howLongAgo(date) {

            }
        }
    }
</script>

<style lang="scss" scoped>
    .tournament-index {
        width: 80%;
        max-width: 1000px;
        margin-left: 50%;
        transform: translateX(-50%);

        .header {
            h1 {
                font-weight: normal;
                font-size: 40px;
                text-align: left;
                color: #1efbc5;
            }
        }

        ul {
            list-style: none;
            padding-left: 0px;

            .tournament {
                display: flex;
                height: 160px;
                border-radius: 10px;
                background: #5a6881;
                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
                margin-bottom: 20px;
                overflow: hidden;

                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                    height: auto;
                }

                .thumbnail {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 35%;
                    max-width: 300px;
                    height: 160px;

                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        max-width: none;
                    }
                }

                .tournament-info {
                    background: #FE2C74;
                    width: 40%;
                    height: 160px;
                    padding: 20px 25px;
                    box-sizing: border-box;
                    text-align: left;
                    position: relative;

                    @media only screen and (max-width: 768px) {
                        width: 100%;
                    }

                    h3 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: normal;
                        font-size: 24px;
                        color: #fff;
                    }

                    h6 {
                        margin-top: 2px;
                        font-weight: normal;
                        font-size: 16px;
                        text-align: left;
                        color: rgba(255, 255, 255, 0.85);
                    }

                    .started {
                        position: absolute;
                        bottom: 20px;
                        margin-bottom: 0px;
                        color: rgba(255, 255, 255, 0.85);
                    }
                }

                .player-info {
                    text-align: left;
                    padding-top: 20px;
                    padding-left: 25px;

                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        padding-bottom: 30px;
                    }

                    h5 {
                        margin-top: 0px;
                        font-weight: normal;
                        font-size: 22px;
                        color: #fff;
                        margin-bottom: 12px;
                    }

                    ul {
                        li.player {
                            font-weight: normal;
                            font-size: 16px;
                            color: #d5d5d5;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }


        }

    }
</style>
