<template>
    <div class="project-show">
        <div v-if="tournament">
            <div class="header">
                <div class="wrapper">
                    <div class="content">
                        <div class="breadcrumbs">
                    <span>
                        <span class="parent"><a href="/">Tournaments</a> > </span>
                        <span>{{ tournament.name }}</span>
                    </span>
                        </div>

                        <div class="buttons">
                            <button class="outlined-button" style="margin-right: 15px;">Add Character</button>
                            <button class="outlined-button">Edit Characters</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="score-section">
                <h2 class="title"><span class="light">CURRENT</span> SCORE</h2>

                <ul class="players">
                    <li v-for="(player, index) in tournament.players" class="player" :class="'player-' + (index + 1)">
                        <div class="name">
                            {{player.name}}
                        </div>
                        <div class="score">
                            {{player.pivot.score}}
                        </div>
                    </li>
                </ul>
            </div>

            <character-select :tournament="tournament" :players="tournament.players" :colors="colors">
            </character-select>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import CharacterSelect from "../components/CharacterSelect";

    export default {
        name: 'project-show',

        components: {
            CharacterSelect
        },

        props: {},

        created() {
            axios.get(`/api/tournaments/${this.$route.params.id}`).then(({data}) => this.tournament = data);
        },

        data() {
            return {
                tournament: null,
                colors: [
                    "#0898D8",
                    "#48CC10",
                    "#FE2C74",
                ]
            }
        },

        methods: {},
    }
</script>

<style lang="scss" scoped>
    .project-show {
        .wrapper {
            max-width: 1000px;
            width: 80%;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        .header {
            width: 100%;
            height: 100px;
            background: #2e3749;

            .content {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .breadcrumbs {
                text-align: left;
                font-weight: bold;
                font-size: 25px;
                letter-spacing: 0.02em;
                color: #fff;

                .parent {
                    font-weight: normal;
                    letter-spacing: 0.02em;
                    color: #fff;
                    opacity: 0.59;
                }
            }
        }

        .score-section {
            margin-top: 75px;
            margin-bottom: 60px;

            .title {
                font-weight: bold;
                font-size: 35px;
                letter-spacing: 0.02em;
                color: #fff;
                opacity: 0.85;

                .light {
                    font-weight: 300;
                }
            }

            .players {
                display: flex;
                overflow: hidden;
                list-style: none;
                padding: 0px;
                width: 80%;
                max-width: 850px;
                margin-left: 50%;
                transform: translateX(-50%);
                height: 105px;
                border-radius: 10px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

                .player {
                    width: 50%;

                    .name {
                        margin-top: 13px;
                        font-size: 17px;
                        font-weight: 600;
                    }

                    .score {
                        font-weight: bold;
                        font-size: 35px;
                        letter-spacing: 0.02em;
                        color: #fff;
                        margin-top: 5px;
                    }
                }

                .player-1 {
                    background: #0898d8;
                }

                .player-2 {
                    background: #48CC10;
                }
            }
        }

    }
</style>
